html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.button-load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: darkorange;
  border-radius: 50px;
}

.is-hidden {
  display: none;
}

/* List */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  padding: 0;
  list-style: none;
}

.gallery img {
  display: block;
  width: 100%;
  height: 300px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(194, 188, 188);
}

.stats-item {
  font-size: 24px;
  font-weight: bold;
  color: teal;
}
